.root {
    -fx-background-color: #d8d8d8;
}
.label {
    -fx-font-size: 16pt;
    -fx-text-fill: #2b3336;
    -fx-font-family: monospace;
}
.button {
    -fx-background-color: lightblue;
    -fx-border-style: dotted;
    -fx-border-color: black;
}